<ul class="navbar-nav" *ngIf="isAuthenticated | async">
  <li class="nav-item">
    <a class="nav-link text-dark" style="font-weight:bolder;font-style:italic;" [routerLink]='["/authentication/profile"]' title="Manage">Hello, {{ userName | async }}</a>
  </li>
  <li class="nav-item">
    <a class="  btn btn-danger" style="margin:20px;" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout"><i class="fa fa-sign-out"></i></a>
  </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item" style="margin:5px;">
    <a class=" btn btn-success" [routerLink]='["/authentication/register"]'><i class="fa fa-edit"></i></a>
  </li>
  <li class="nav-item" style="margin:5px;">
    <a class="  btn btn-primary" [routerLink]='["/authentication/login"]'><i class="fa fa-sign-in"></i></a>
  </li>
</ul>
